<?xml version="1.0"?> 
<robot name="obstacle2">
    <!-- Colors --> 
    <material name="purple">
        <color rgba="0.925 0 0.925 1"/>
    </material>

    <!-- Goal -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.45 0.35 0.25"/>
                <origin rpy="0 0 0" xyz="0 0 0.25"/>
            </geometry>
            <material name="purple"/>
        </visual>
        <collision> 
             <geometry> 
                <box size="0.45 0.35 0.25"/>
                <origin rpy="0 0 0" xyz="0 0 0.25"/>
            </geometry>
        </collision> 
        <inertial> 
            <mass value="5"/>
            <inertia ixx="0.11" ixy="0" ixz="0" iyy="0.12" iyz="0" izz="0.077"/>
        </inertial> 
    </link>
</robot>
