<?xml version="1.0"?> 
<robot name="obstacle2">
    <!-- Colors --> 
    <material name="blue">
        <color rgba="0 0 0.925 1"/>
    </material>

    <!-- Goal -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.45 0.25 0.25"/>
                <origin rpy="0 0 0" xyz="0 0 0.25"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision> 
             <geometry> 
                <box size="0.45 0.25 0.25"/>
                <origin rpy="0 0 0" xyz="0 0 0.25"/>
            </geometry>
        </collision> 
        <inertial> 
            <mass value="3"/>
            <inertia ixx="0.06625" ixy="0" ixz="0" iyy="0.066" iyz="0" izz="0.03125"/>
        </inertial> 
    </link>
</robot>
